.header {
    background: linear-gradient(180deg, #2F2F2F 34.79%, #1B1B1B 60.79%, #131313 69.52%);
    padding-top: 44px;
    padding-bottom: 28px;
}

.cube-img {
    position: absolute;
    top: 270px;
    width: 140px;
}

.ring-img {
    position: absolute;
    right: 0%;
    top: 1380px;
    width: 170px;
}