.header-down {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

.header-down__text-block {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 118px;
    justify-content: space-between;
    align-items: center;
}

.header-down__text-block img {
    filter: drop-shadow(0px 4px 189px rgba(255, 255, 255, 0.16));
    width: 300px;
    height: 300px;
}

.header-down__text {
    max-width: 690px;
}

.text-h1 {
    font-weight: 500;
    font-size: 31px;
}

.text-p {
    font-size: 14px;
}

.header-down__card-block {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 20px;
}

.card-block__h2 {
    max-width: 490px;
    font-weight: 500;
    font-size: 25px;
}

.card-block__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-down__card {
    width: 380px;
    height: 320px;
    background-color: white;
}

.header-down__bottom {
    text-align: center;
    margin-top: 43px;
}

.header-down__bottom p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    color: gray;
}